body,
html {
    height: 100%;
    margin: 0px;
}

a {
    font-family: cursive;
    color: rgb(253, 187, 40);
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.background-img {
    background-image: url("../images/staffLogin2K.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0px;
}

.nav-bar {
    height: 65px;
    background-color: rgb(255, 36, 75);
}

.nav-bar-child {
    height: 20px;
    width: 50%;
    margin: 22.5px 0px 0px 20px;
    position: absolute;
    vertical-align: middle;


}

.nav-bar-link {
    margin: 0px 20px 0px 0px;
}

.login-container {
    height: 500px;
    width: 600px;
    background-color: rgb(255, 36, 75);
    border-radius: 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.login-img {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}

.login-img img {
    width: 100%;
}

.login-text {
    color: rgb(253, 187, 40);
    font-size: 140%;
    font-family: cursive;
    text-align: center;
    margin-top: 10px;
}

.spacer {
    height: 25px;
}


.input-text {
    margin: auto;
    height: 60px;
    width: 90%;
    display: block;
    border-radius: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: cursive;
    font-size: 100%;
    font-weight: bold;
    border: 0px;
    background-color: rgb(253, 187, 40);
}


.largerFont {
    font-size: 25px;
    height: 70px;
    width: 35%;
}