
.droplist{
    margin-top: 20px;
    background:#f2bc27;
    display: none;
    position: absolute;
    width: 100px;
    height: 90px;
}

.droplist>li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blt:active .droplist{
    display: block;
}

.blt:hover .droplist{
    display: block;
}